@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  background: grey;
  justify-content: center;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  background: rgb(62, 68, 54);
}

nav li {
  display: block;
}

nav li a {
  display: inline-block;
  padding: 5px;
}

header {
}

header h1 {
  font-size: 3em;
  margin: 0.2em 0;
  text-align: center;
}

header p {
  text-align: center;
  font-size: 2em;
  margin: 0.2em 0;
}

section {
  padding: 10px;
}

@media only screen and (max-width: 599px) {
}

@media only screen and (min-width: 600px) {
  nav {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 980px) {
  body {
    width: 1170px;
  }
}

@media only screen and (min-width: 1260px) {
}
