@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,700&family=Source+Serif+Pro:ital@0;1&display=swap');

/* https://coolors.co/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff */

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  background-color: black;
  color: #660708;
}

body {
  margin: 0;
  padding: 0;
}

/* Section Menu */

nav {
  /* outer */
  height: 45px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  position: sticky;
  z-index: 10;
  top: 0;

  /* inner */
  display: flex;
  justify-content: space-between;
  background-color: #d3d3d3;
  padding: 5px;
  align-items: center;
  opacity: 0.7;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #660708;
  padding: 10px;
}

nav a:hover {
  text-shadow: 1px 1px #660708;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.logoP {
  padding: 5px;
  margin: 0px;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
}

/* section header */

header {
  background-image: url('../images/patrick-tomasso-GXXYkSwndP4-unsplash.jpg');
  background-color: #f5f3f4;
  display: flex;
  width: 100%;
  height: 100vh;
  text-transform: uppercase;
  align-items: center;
}

header .content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

header img {
  height: auto;
  width: 100%;
}

header .box {
  box-sizing: border-box;
  flex: 1 0 100%;

  background-color: #161a1d;
  border: 1px solid black;
  color: #f5f3f4;
  text-align: center;
  font-size: 2rem;
  padding: 15px 40px;
}

/* Section About */

#about {
  /* background-image: url('../images/shawnanggg-nmpW_WwwVSc-unsplash.jpg'); */
  min-height: 2000px;
  background-color: #b1a7a6;
}

@media only screen and (max-width: 599px) {
  header .br-sm {
    display: inline;
  }
}

@media only screen and (min-width: 600px) {
  header .br-sm {
    display: block;
  }

  .content {
    margin: 0 auto;
  }

  .content .box {
    flex: 1 0 calc(50% - 10px);
  }
}

@media only screen and (min-width: 980px) {
}

@media only screen and (min-width: 1260px) {
}
